spring:
  application:
    name: ORDER-SERVICE
  datasource:
    url: jdbc:postgresql://localhost:5432/order_db
    username: lykuong
    password:
  jpa:
    hibernate:
      ddl-auto: validate
  flyway:
    enabled: true

jwt:
  claim: SYSTEM
  secret: verySecretKeyChangeInProductionVerySecretKeyChangeInProduction

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka

resilience4j:
  circuitbreaker:
    configs:
      default:
        register-health-indicator: true
        sliding-window-type: COUNT_BASED
        sliding-window-size: 5
        minimum-number-of-calls: 2
        failure-rate-threshold: 50
        wait-duration-in-open-state: 10s
    instances:
      orderRetry:
        base-config: default
