server:
  port: 8080

spring:
  cloud:
    gateway:
      routes:
        - id: auth
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: order
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**

        - id: internal
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/internal/**