spring:
  application:
    name: GATEWAY
  cloud:
    gateway:
      routes:
        - id: auth
          uri: lb://AUTH-SERVICE
          predicates:
            - Path=/auth/**

        - id: order
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/orders/**

        - id: internal
          uri: lb://ORDER-SERVICE
          predicates:
            - Path=/internal/**
server:
  port: 0

eureka:
  instance:
    prefer-ip-address: true
    instance-id: ${spring.application.name}:${random.value}
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka
